- name: confiure
  hosts: private
  remote_user: ubuntu
  become: true
  tasks:
    - name: Install awscli package.
      shell: 
        executable: aws/install
        chdir: /tmp
      register: ls_cmd
      # when: aws_cli_unarchive_installer.changed

    - debug:
        var: ls_cmd.stdout_lines

    - name: update cache
      apt: update_cache=yes

    - name: instal open tools
      apt:
        name: "{{ packages }}"
        state: present 
      vars: 
        packages:
          - default-jdk-headless
          - docker.io
          - zip
    
    - name: adding user to group docker
      user:
        name: "ubuntu"
        groups: docker
        append: yes

    - name: copy jenkins agent file
      copy:
        src: agent.jar
        dest: /home/ubuntu

    - name: copy app env file agent file
      copy:
        src: .env
        dest: /home/ubuntu

    - name: Add an apt signing key for kubectl
      apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present

    - name: Adding apt repository for kubectl
      apt_repository:
        repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
        state: present
        filename: kubernetes.list

    - name: Install kubectl
      apt: 
        name: kubectl
        state: present
        update_cache: yes

    - name: Download the awscli bundle.
      get_url: url=https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip dest=/tmp/awscli-bundle.zip
      register: aws_cli_download_bundle

    - name: Unarchive the installer.
      unarchive: src=/tmp/awscli-bundle.zip dest=/tmp copy=no
      when: aws_cli_download_bundle.changed
      register: aws_cli_unarchive_installer

    - name: check permission
      ansible.builtin.file:
        path: /tmp/aws/install
        mode: '0777'

    
      
