- name: confiure
  hosts: private
  remote_user: ubuntu
  become: true
  tasks:
    - name: update cache
      apt: update_cache=yes

    - name: instal open jdk
      apt:
        name: default-jdk-headless
        state: present 
    
    - name: install docker
      apt:
        name: docker.io
        state: present

    - name: copy jenkins agent file
      copy:
        src: agent.jar
        dest: /home/ubuntu

    - name: copy app env file agent file
      copy:
        src: .env
        dest: /home/ubuntu

    - name: adding user to group docker
      user:
        name: "ubuntu"
        groups: docker
        append: yes

      
